* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --bg-colorone: #080808;
    --bg-colortwo: #101010;
    --text-color: #1F4529;
    --btn-bg: #47663B;
}

body {
    margin: 0;
    overflow-x: hidden;
/* HEader Section */}
#menu-icon {
    color: white;
    font-size: 1.7rem;
    display: none;
}


.social-icon a {
    color: var(--btn-bg);
    font-size: 2rem;
    font-weight: 500;
    border: 2px solid var(--btn-bg);
    border-radius: 50%;
    margin-right: 20px;
    width: 50px;
    height: 50px;
    transition: 0.3s ease-in-out;
    background: transparent;
    display: inline-block;
    text-align: center;
    transform: translateY(8px);
    line-height: 50px;
    /* Adjust this value to center the text vertically */
}

.social-icon a:hover{
    color: white;
    background: var(--btn-bg);
    box-shadow: 0 0 25px var(--btn-bg);
    
    transform: scale(1.1);
}
.header {
    position: fixed;
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    background: transparent;
    backdrop-filter: blur(10px);
    align-items: center;
    width: 100%;
}

.logo a {
    color: white;
    font-weight: 700;
    font-size: 1.7rem;
    transition: 0.3s ease-in-out;
    display: inline-block;
}

.logo a:hover {
    transform: scale(1.1);
}

.navbar {
    margin-top: 10px;
}

.navbar a {
    margin-left: 40px;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}

.navbar a:hover {
    border-bottom: 3px solid white;
}

.btn {
    color: white;
    background: var(--btn-bg);
    border-radius: 10px;
    padding: .5rem;
    font-weight: 500;
    font-size: 1.2rem;
    border: 2px solid var(--btn-bg);
    transition: 0.3s ease-in-out;
}

.btn:hover {
    background: transparent;
}

/* HEader Section */
.home {
    background: var(--bg-colorone);
    width: 100%;
    min-height: 100vh;
    padding-top: 4rem;
    /* Adjust this value to match the header height */
}

.home-container {
    margin-top: 60px;
    display: flex;
    margin-right: 30px;
    padding: 2rem 3rem;

    justify-content: space-between;
}

.home-container img {
    width: 100%;
    max-width: 400px;
    animation: float 3s ease-in-out infinite;
 
}

.home-containt {
    margin-top: 80px;
    text-align: right;
}

.home-containt h2 {
    color: white;
    font-size: 3rem;
}

.home-containt p {
    color: white;
    font-weight: 500;
    max-width: 600px;
    line-height: 1.6;
    margin-bottom: 1rem;
}

span {
    color: var(--btn-bg);
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}
.about-btn-container {
    display: flex;
    justify-content: left;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;

}

.about-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 150px;
    background: var(--btn-bg);
    border-radius: 10px;
    border: none;
    transition: 0.3s ease-in-out;
    padding: 0.7rem 1rem;
    color: white;
    margin-top: 40px;
    cursor: pointer;
    font-weight: 500;
    box-shadow: 0 0 25px var(--btn-bg);
    text-align: center;
    font-size: 1.1rem;
}
.about-btn:hover {
 
    box-shadow: 0 0 25px var(--btn-bg),
        0 0 50px var(--btn-bg),
        0 0 100px var(--btn-bg);
   transform: scale(1.05);
}


.about {
    background: var(--bg-colortwo);
}

.about-container {
    display: flex;
    padding: 2rem 6rem;
    align-items: center;
    justify-content: space-between;
}

.about h2 {
    text-align: center;
    color: white;
    font-size: 2.7rem;
    padding-top: 90px;
}

.about-container img {
    max-width: 400px;
    width: 100%;
}

.about-containt p {
    text-align: left;
    color: white;
    font-weight: 500;
    max-width: 600px;
    line-height: 1.6;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.review {
    background: var(--bg-colorone);
}

.review-container {
    display: flex;
    padding: 2rem 3rem;
}

.review h2 {
    text-align: center;
    color: white;
    padding: 70px;
    font-size: 2.7rem;

}

.review-container {
    gap: 2rem;
}

.review-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 2rem 4rem;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    background: var(--btn-bg);
    cursor: pointer;
}

.review-box img {
    max-width: 200px;
    width: 100%;
    border-radius: 100px;
}

.review-box h3 {
    color: black;
    font-size: 1.3rem;
}

.review-box p {
    color:white;
    font-weight: 500;
    line-height: 1.3rem;
}

.rating {
    color: white;
    font-style: italic;
}

.review-box:hover {
    background: transparent;
    backdrop-filter: blur(10px);
    transform: scale(1.05);

}

.review-box:hover h3 {
    color: white;
}

.review-box:hover p {
    color: var(--btn-bg);
}

.contact {
    background: var(--bg-colortwo);
    width: 100%;

}

.contact h2 {
    text-align: center;
    color: white;
    padding: 70px;
    font-size: 2.7rem;

}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

form .input-box {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

form .input-box input {
    padding: 1rem 3rem;
    font-size: 1.5rem;
    border-radius: 8px;
    border: 2px solid var(--btn-bg);
    background-color: transparent;
    color: white;
    text-align: left;
    margin: .2rem 0;
    padding-left: .9rem;
    padding-right: 0.9rem;

}

::placeholder {
    color: #E8ECD7;
    opacity: 1;
    text-align: left;
    font-weight: 400;
    font-size: 1rem;
}

textarea {
    width: 100%;
    height: 200px;
    background-color: transparent;
    color: white;
    border-radius: 8px;
    resize: none;
    padding: 0.9rem;
    margin-top: 15px;
    border: 2px solid var(--btn-bg);

}

.sub-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;

}

.sub-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 150px;
    background: var(--btn-bg);
    border-radius: 10px;
    border: none;
    transition: 0.3s ease-in-out;
    padding: 0.7rem 1rem;
    color: white;
    cursor: pointer;
    font-weight: 500;
    box-shadow: 0 0 25px var(--btn-bg);
    text-align: center;
    font-size: 1.1rem;
}

.sub-btn:hover {
 
    box-shadow: 0 0 25px var(--btn-bg),
        0 0 50px var(--btn-bg),
        0 0 100px var(--btn-bg);
   transform: scale(1.05);
}

.footer {
    background-color: var(--bg-colorone);
    padding: 50px 0;
}

.footer .social-icon {
    text-align: center;
}

.footer ul {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.footer ul li {
    display: inline-block;
    margin-left: 20px;
}

.footer ul li a {
    color: white;
border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}
.footer ul li a:hover{
    border-bottom: 3px solid white;
}
.footer .copyright{
    text-align: center;
    margin-top: 45px;
    color: white;

    font-size: 16px;
}
@media(max-width:1258px){
    #menu-icon{
        display:block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        z-index: 1000;
        right: 50%;
        left: 25%;
        width: 50%;
        padding: 1rem 1rem;
        background: rgba(0, 0, 0, 0.8);
        border-bottom-left-radius: 2rem;
        overflow: hidden;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
display: none;

    }

    .navbar a{
        display: block;
        font-size: 1;
        color: white;
        margin: 3rem 0;
       
    }
    .navbar.active{
        display: block; 
    }
    .home-container {
        flex-direction: column-reverse;
        gap: 5rem;
    }

    body {
        overflow-x: hidden;
    }
    .home-containt{
        margin-top: -80px;
display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
       
    }
    .home-containt p{
      font-size: 1.2rem;
      width: 450px;
      margin-left: 30px;
      text-align: center;
   
    }
    .about-containt p{
      font-size: 1.2rem;
      text-align: center;

    }
    .about-container{
        flex-direction: column-reverse;
        gap: 5rem;
    
}
.home-container img{
    animation: float 3s ease-in-out infinite;
    width: 200px;
    margin-left: 80px;
}

.about-containt p{
    text-align: center;
    width: 450px;
  
}
.about-btn-container{
    justify-content: center;
}
.review-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    gap: 17rem;
    row-gap: 5rem;
}
.review-box{
    width: 100%;
    margin-right: 10px;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

form .input-box {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

form .input-box input {
    padding: 1rem 15rem;
    font-size: 0.2rem;
    border-radius: 8px;
    border: 2px solid var(--btn-bg);
    background-color: transparent;
    color: white;
    text-align: left;
    margin: .2rem 0rem;
    padding-left: .9rem;
    padding-right:4rem;

}

::placeholder {
    color: #E8ECD7;
    opacity: 1;
    text-align: left;
    margin-right: -60px;
    font-weight: 400;

    font-size: .9rem;
}

textarea {
    width: 100%;
    height: 200px;
    background-color: transparent;
    color: white;
    border-radius: 8px;
    resize: none;
    padding: 0.9rem;
  
    margin-top: 15px;
    border: 2px solid var(--btn-bg);

}

.sub-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;

}

.sub-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 150px;
    background: var(--btn-bg);
    border-radius: 10px;
    border: none;
    transition: 0.3s ease-in-out;
    padding: 0.7rem 1rem;
    color: white;
    cursor: pointer;
    font-weight: 500;
    box-shadow: 0 0 25px var(--btn-bg);
    text-align: center;
    font-size: 1.1rem;
}

.sub-btn:hover {
 
    box-shadow: 0 0 25px var(--btn-bg),
        0 0 50px var(--btn-bg),
        0 0 100px var(--btn-bg);
   transform: scale(1.05);
}
.footer ul{
    font-size: .6rem;
    margin-right: 30px;
}
.footer .copyright{
    font-size: 0.8rem;
    margin-right: 30px;
}
}
